<h1>Add Comment</h1>
<%= form_with model: @comment, url: user_post_comments_path, method: :post, local: true, scope: :comment, class: "form" do |form| %>
  <div class='comment-form' >
    <%= form.label :text %>
    <%= form.text_area :text, class: "form-text" %>
    <%= form.submit "Add Post" %>
  </div>
<% end %>