<div class='user'>

    <div class="img-container">
        <img src=<%= user.photo %> alt="Profile" />
    </div>

    <div class='user-infos'>
        <h3><%= user.name %></h3>
        <p class='thaw'> Number of Posts : <%=user.posts_counter or 0%> </p>
    </div>

</div>
